.documents {
    // height: 130vh;
    &__content {
        padding: 1.5rem;
        padding-top: 1rem;
        .search {
            display: flex;
            gap: 1rem;
            button {
                width: 180px;
                height: 48px;
                background: #2F80ED;
                border-radius: 2px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 14px;
            }
            input {
                outline: none;
                font-size: 14px;
                width: 100%;
                height: 48px;
                padding-left: 2%;
                background: #FFFFFF;
                border-radius: 2px;
            }
        }
        .data {
            .v-table {
                margin-top: 1rem;
                .v-table__wrapper {
                    overflow-y: hidden;
                }
                table {
                    thead {
                        tr {
                            height: 53px;
                            th {
                                padding: 0 15px;
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            height: 53px;
                            td {
                                font-family: 'Roboto';
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.create__documents {
    &__content {
        padding: 1.5rem;
        height: 75vh;
        .content {
            .example {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-top: 1.5rem;
                float: right;
                right: -1rem;
                top: -2.5rem;
                p {
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 12px;
                    color: #2F80ED;
                }
                .rectangle {
                    padding: 0.5rem;
                    width: 150px;
                    height: 205px;
                    left: 1270.97px;
                    top: 170.74px;
                    background: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .steps {
            display: flex;
            gap: 0.7rem;
            .activeStep {
                border: 1px solid #2F80ED;
                color: #2F80ED;
            }
            button {
                width: 104px;
                height: 48px;
                background: #FFFFFF;
                // border: 1px solid #6FCF97;
                color: #E0E0E0;
                border-radius: 2px;
            }
        }
    }
    .step__one {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;
        h2 {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
        }
        .select {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 2%;
            padding-right: 2%;
            background: #FFFFFF;
            border-radius: 2px;
            width: 494.58px;
            height: 50px;
            cursor: pointer;
            input {
                cursor: pointer;
                outline: none;
                appearance: none;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
        }
        .dropdownInfo {
            background-color: white;
            width: 494.58px;
            p {
                cursor: pointer;
                padding: 1rem;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .step__two {
        display: flex;
        gap: 1.5rem;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 2%;
            .v-input--density-default {
                --v-input-control-height: 0px;
                --v-input-padding-top: 0px;
            }
            .gender {
                margin-top: 1.7rem;
            }
            section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .v-label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: black;
                    opacity: 1;
                }
                .v-selection-control-group {
                    margin-left: -10px;
                    display: flex;
                    gap: 3rem;
                    padding: 0;
                    height: 48px;
                }
                .lastname {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                    margin-top: -0.6rem;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
                .uploadFile {
                    width: 480px;
                    height: 171px;
                    background: #2F80ED;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: white;
                        text-align: center;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .step__three {
        display: flex;
        gap: 1.5rem;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
    }
    .step__four {
        .text {
            display: flex;
            gap: 15rem;
            margin-top: 2rem;
            align-items: flex-start;
            div {
                p {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
            .v-selection-control {
                flex-direction: column-reverse;
                align-items: flex-start;
                margin-top: -0.4rem;
                gap: 1rem;
            }
            .v-switch .v-label {
                /* -webkit-padding-start: 10px; */
                opacity: 1;
                padding-inline-start: 0px;
            }
        }
        .date {
            margin-top: -3rem;
            input {
                background: #FFFFFF;
                border-radius: 2px;
                outline: none;
                width: 328px;
                height: 48px;
                padding-left: 2%;
            }
        }
    }
    .step__fifth {
        display: flex;
        flex-direction: column;
        label {
            margin-top: 1.5rem;
            font-size: 16px;
        }
        span {
            color: #2F80ED;
            font-size: 12px;
        }
        .selected__signatures {
            display: flex;
            gap: 1rem;
            margin-top: 0.3rem;
            div {
                width: 220px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                svg {
                    height: 14px;
                    width: 14px;
                }
                section {
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    input {
                        border: 2px solid #BDBDBD;
                        width: 20px;
                        height: 20px;
                        background: #BDBDBD;
                    }
                }
            }
        }
        div {
            margin-top: 2rem;
            display: flex;
            flex-wrap: wrap;
            gap: 0.6rem;
            div {
                margin-top: 0;
                width: 143px;
                height: 48px;
                background-color: white;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                border-radius: 2px;
            }
        }
        button {
            width: 242px;
            height: 48px;
            background: #2F80ED;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 2px;
            font-size: 14px;
            margin-top: 2rem;
        }
    }
    .step__six {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        margin-top: 2rem;
        p {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            &:nth-of-type(2) {
                margin-top: 2rem;
            }
        }
        span {
            font-family: 'Roboto';
            font-weight: 400;
            font-size: 12px;
            color: #2F80ED;
        }
        button {
            width: 494.58px;
            height: 48px;
            background: #2F80ED;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
        }
    }
}