body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter';
    overflow-y: hidden;
    height: 100vh;
}

.pagination-container {
    margin-left: 2%;
    display: flex;
    column-gap: 11px;
    .number-buttons {
        color: #E0E0E0;
    }
    .next-button {
        background-color: #2F80ED;
        color: white;
        font-size: 14px;
        width: 83px;
        height: 48px;
    }
    .back-button {
        font-size: 14px;
        width: 83px;
        height: 48px;
    }
    .active-page {
        // background-color: #2F80ED;
        border: 1px solid #2F80ED;
        color: #2F80ED;
    }
    .active-page:hover {
        background-color: rgb(255 255 255);
    }
}

.paginate-buttons {
    height: 46px;
    width: 46px;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.paginate-buttons:hover {
    background-color: #d8d8d8;
}

.closeIcon {
    position: absolute;
    // background-color: red;
    right: -0.2rem;
    top: 65%;
    i {
        color: #E0E0E0;
    }
}

.input {
    background: #FFFFFF;
    border-radius: 2px;
    width: 480px;
    height: 48px;
    padding-left: 1rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    outline: none;
    line-height: 16px;
    color: black;
}

label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.selectInput {
    cursor: pointer;
    outline: none;
    appearance: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    padding: 0;
    line-height: 16px;
}

span {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #2F80ED;
}

button,
input,
select,
textarea {
    background-color: white;
}

.white__navbar {
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-left: 2%;
    p {
        color: #00000073;
        font-size: 14px;
    }
}

.v-main {
    background: #F5F5F5;
    // z-index: -1;
    // height: 50vh;
    overflow: auto;
    .dropdownActive {
        border-right: 3px solid #1890FF;
        color: #2F80ED;
        background: #E6F7FF;
    }
    .dropdown {
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        p {
            // color: #2F80ED;
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            text-align: start;
            width: 64%;
            margin: 0 auto;
            cursor: pointer;
        }
    }
    .v-list-item__content {
        display: flex;
        margin-top: 0.5rem;
        height: 2rem;
        align-items: center;
        justify-content: space-between;
        .v-icon {
            width: 17.04px;
            height: 17.93px;
            cursor: pointer;
        }
        .v-list-item-title {
            font-family: Roboto;
            font-weight: 400;
            font-size: 14px;
            margin-left: -0.8rem;
        }
        .active {
            color: #2F80ED;
            path {
                fill: #2F80ED;
            }
            // width: 100%;
        }
    }
}