.create__signatories {
    height: 100vh;
    &__content {
        // background-color: red;
        height: 75vh;
        margin-top: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        overflow: hidden;
        .content {
            .example {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                margin-top: 1.5rem;
                float: right;
                right: -1rem;
                top: -2.5rem;
                p {
                    font-family: 'Roboto';
                    font-weight: 400;
                    font-size: 12px;
                    color: #2F80ED;
                }
                .rectangle {
                    padding: 0.5rem;
                    width: 150px;
                    height: 205px;
                    left: 1270.97px;
                    top: 170.74px;
                    background: #FFFFFF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .steps {
            display: flex;
            gap: 0.7rem;
            .activeStep {
                border: 1px solid #2F80ED;
                color: #2F80ED;
            }
            button {
                width: 104px;
                height: 48px;
                background: #FFFFFF;
                // border: 1px solid #6FCF97;
                color: #E0E0E0;
                border-radius: 2px;
            }
        }
    }
    .step__one {
        display: flex;
        gap: 1.5rem;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 1.9%;
            .v-input--density-default {
                --v-input-control-height: 0px;
                --v-input-padding-top: 0px;
            }
            .gender {
                margin-top: 1.7rem;
            }
            section {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                .v-label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: black;
                    opacity: 1;
                }
                .v-selection-control-group {
                    margin-left: -10px;
                    display: flex;
                    gap: 3rem;
                    padding: 0;
                    height: 48px;
                }
                .lastname {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                    margin-top: -0.6rem;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
                .uploadFile {
                    width: 480px;
                    height: 171px;
                    background: #2F80ED;
                    border-radius: 2px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    p {
                        color: white;
                        text-align: center;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .step__two {
        display: flex;
        gap: 1.5rem;
        .left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-top: 3%;
            gap: 1.5rem;
            div {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                label {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                }
                input {
                    background: #FFFFFF;
                    border-radius: 2px;
                    width: 480px;
                    height: 48px;
                    padding-left: 1rem;
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    outline: none;
                    line-height: 16px;
                    color: black;
                }
                span {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #2F80ED;
                }
            }
        }
    }
    .v-pagination {
        margin-top: -0.1rem;
        &__list {
            display: flex;
            justify-content: flex-end;
        }
    }
    .v-pagination .v-btn {
        border: 1px solid#2F80ED;
        color: #2F80ED;
        background-color: white;
    }
    .v-pagination__prev {
        border-radius: 2px;
        color: white;
    }
}

.signatories {
    // height: 130vh;
    &__content {
        padding: 1.5rem;
        padding-top: 1rem;
        .search {
            display: flex;
            gap: 1rem;
            button {
                width: 180px;
                height: 48px;
                background: #2F80ED;
                border-radius: 2px;
                color: white;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                font-size: 14px;
            }
            input {
                outline: none;
                font-size: 14px;
                width: 100%;
                height: 48px;
                padding-left: 2%;
                background: #FFFFFF;
                border-radius: 2px;
            }
        }
        .data {
            margin-top: 1rem;
            .v-table {
                .v-table__wrapper {
                    overflow-y: hidden;
                }
                table {
                    thead {
                        tr {
                            height: 53px;
                            th {
                                padding: 0 15px;
                                font-family: 'Roboto';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 12px;
                            }
                        }
                    }
                    tbody {
                        tr {
                            height: 53px;
                            td {
                                font-family: 'Roboto';
                                font-weight: 400;
                                font-size: 12px;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
    .v-pagination {
        margin-top: -0.1rem;
        &__list {
            display: flex;
            justify-content: flex-start;
            padding-left: 1.5rem;
        }
    }
    .v-pagination .v-btn {
        border: 1px solid#2F80ED;
        color: #2F80ED;
        background-color: white;
    }
    .v-pagination__prev {
        border-radius: 2px;
        color: white;
    }
}